.navIcon {

    width: 45px;
    margin-left: 1em;
}

.titleStyle {

    color: #ffc0cb;
    font-weight: 900;
    font-style: italic;
    text-shadow: 2px 2px 2px white;


}

.navbar {

    border-bottom: 4px solid white;
    background: url('/img/aesthetic.gif');
    background-repeat: no-repeat;
    background-size: 100%;
}

