




.containerImg {
    background-color: pink !important;
    display: flex;
    justify-content: center;

}


body::-webkit-scrollbar {
    width: 0.5em;
    background-color: black;

  }
   

   
  body::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid black;
  }